# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Data folder (if not needed)
# data/
# Misc
*.txt
!requirements.txt
